<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Profile</title>
</head>
<body>
    Welcome, <%=user.name%>! You are logged in!
    This is your profile.
    <br><br>
    <a href='/'>Home<br><br>

    <a href='/auth/logout'>Logout
</body>


</html>